export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx


### XDG Base Directory Specification 

# user directories 
export XDG_CONFIG_HOME="$HOME/.config" 
export XDG_CACHE_HOME="$HOME/.cache" 
export XDG_DATA_HOME="$HOME/.local/share" 
#export XDG_RUNTIME_DIR="/run/user/$UID" 

# system directories 
export XDG_DATA_DIRS="/usr/local/share:/usr/share" 
export XDG_CONFIG_DIRS="/etc/xdg"
